<!DOCTYPE html>
<html lang="en">

<head>
  {{{ meta }}}
  <title>Fasting times</title>
</head>

<body class="page__fasting-times">
  <header class="header container">
    <a href="./index.html" class="arrow arrow__left material-icons back-button">
      arrow_back_ios
    </a>
  </header>

  <main class="main">
    <div class="container">
      <h1>Your fast plan</h1>
      <div class="fast-plan">
        <div class="fast-plan__title">My fast plan</div>
        <div class="fast-plan__plan">16:8</div>
        <button class="button--icon">
          <span class="material-icons">edit</span>
        </button>
      </div>

      <button class="button button--primary">14:10</button>
      <button class="button button--primary">15:9</button>
      <button class="button button--primary">16:8</button>
      <button class="button button--primary">15:7</button>


    </div>
  </main>
</body>

</html>