<!DOCTYPE html>
<html lang="en">

<head>
  {{{ meta }}}
  <title>Your fast plan</title>
</head>

<body class="page__fast-plan">
  <header class="header container">
    <a href="/" class="arrow arrow__left material-icons back-button">
      arrow_back_ios
    </a>
  </header>

  <main class="main">
    <div class="container">
      <h1>Your Fast Plan</h1>

      <div class="block-basic my-plan">
        <div class="my-plan__header">
          <div class="my-plan__title">My plan</div>
          <button class="button--icon">
            <span class="material-icons">edit</span>
          </button>
        </div>
        <div class="my-plan">
          <div class="my-plan__tile colored--secondary-alt">16:8</div>
        </div>
      </div>


    </div>
  </main>
</body>

</html>